.order {
  align-items: center;
  background-color: #ffb142;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-around;
  margin: 15px auto;
  padding: 20px 0;
  text-align: center;
  width: 80%;
}

.order-item {
  display: inline-block;
  margin: 0 8px;
  text-transform: capitalize;
}

.order-date {
  margin-top: 0;
  text-transform: uppercase;
}

.order-number{
  font-weight: 500;
  margin: 0;
}

.ingredients-title {
  font-size: 25px;
  margin-top: 0;
}

.order-price {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
