.build-controls {
  align-items: center;
  background-color: #ffb142;
  box-shadow: 0 2px 1px #ccc;
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 10px 0;
  width: 100%;
}

.checkout {
  margin-top: 15px;
}

.checkout-button {
  border-radius: 15px;
  border: 1px solid #966909;
  box-shadow: 2px 2px 2px #966909;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
  min-width: 191px;
  outline: none;
  padding: 15px 30px;
}

.checkout-button:not(:disabled) {
  animation: enable .3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.clear-btn {
  background-color: #ff7877;
  border: 2px solid #cd5252;
  color: #a23e4e;
  font-weight: 700;
  margin-right: 10px;
}

.clear-btn:hover, .clear-btn:active {
  background-color: #FE463C;
  border: 2px solid #FE463C;
  color: #661E29;
}

.order-btn {
  background-color: #73f863;
  border: 2px solid #3cd541;
  color: #661E29;
  font-weight: 700;
}

.order-btn:hover, .order-btn:active {
  background-color: #54ea07;
  border: 2px solid #54ea07;
}

.checkout-button:disabled {
  background-color: #c7c6c6;
  border: 1px solid #ccc;
  color: #888;
  cursor: not-allowed;
}
