.build-controls {
  align-items: center;
  background-color: #ffb142;
  display: flex;
  flex-basis: 50%;
  flex-flow: column;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.price {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.checkout {
  max-width: 76%;
  text-align: center;
}

.checkout-button {
  border-radius: 15px;
  border: 1px solid #966909;
  box-shadow: 2px 2px 2px #966909;
  cursor: pointer;
  font-family: "Graduate", "Quicksand", sans-serif;
  font-size: 16px;
  min-width: 185px;
  outline: none;
  padding: 13px 20px;
  text-transform: uppercase;
}

.checkout-button:not(:disabled) {
  animation: enable .3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.clear-btn {
  background-color: #ff7877;
  border: 2px solid #cd5252;
  color: #a23e4e;
  font-weight: 700;
}

.checkout-button:active {
  position: relative;
  top: 2px;
}

.clear-btn:hover, .clear-btn:active {
  background-color: #FE463C;
  border: 2px solid #FE463C;
  color: #661E29;
}

.order-btn {
  background-color: #73f863;
  border: 2px solid #3cd541;
  color: #661E29;
  font-weight: 700;
  margin-top: 15px;
}

.order-btn:hover, .order-btn:active {
  background-color: #54ea07;
  border: 2px solid #54ea07;
}

.checkout-button:disabled {
  background-color: #c7c6c6;
  border: 1px solid #ccc;
  color: #888;
  cursor: not-allowed;
}

@media (min-width: 500px) {
  .order-btn {
    margin-left: 20px;
    margin-top: 0;
  }
}
