.burger {
  font-family: "Graduate", "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 501px) {
  .burger {
    flex-basis: 50%;
    width: 70%;
  }
}
