.toolbar {
  align-items: center;
  background-color: #7d381a;
  box-shadow: -2px 2px 6px 0px #000;
  box-sizing: border-box;
  color: #ccc;
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
}

.toolbar .nav {
  height: 100%;
}

.toolbar .logo {
  height: 80%;
}
