.toolbar {
  align-items: center;
  background-color: #ffb142;
  box-shadow: -2px 3px 3px 0 rgba(0, 0, 0, .2);
  display: flex;
  font-size: 18px;
  height: 60px;
  justify-content: space-between;
  left: 0;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
}

.toolbar .nav {
  height: 100%;
}

.toolbar .logo {
  height: 80%;
}
