.navigation-item {
  display: block;
  margin: 10px 0;
  width: 100%;
}

.navigation-item a {
  color: #7d381a;
  display: block;
  padding: 16px 10px;
  text-decoration: none;
  transition: box-shadow .25s ease;
  width: 100%;
}

@media (min-width: 500px) {
  .navigation-item {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0;
  }

  .navigation-item a {
    align-items: center;
    display: flex;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    min-width: 162px;
    padding: 16px 10px;
    text-align: center;
  }

  .navigation-item a:hover,
  .navigation-item a:active,
  .navigation-item a.active {
    box-shadow: inset 0 -4px 0 0 #5FA036;
  }
}
