.ingredient-item {
  text-transform: capitalize;
}

.order-summary-title {
  font-family: "Graduate", sans-serif;
  font-size: 22px;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.button-container {
  text-align: center;
}
