.bread-top {
  background: #fb9354;
  border-radius: 120px 120px 5px 5px;
  border: 10px solid #373737;
  box-shadow: inset -45px 0 #EA5B42;
  height: 115px;
  margin: 0 auto;
  max-width: 90%;
  overflow: hidden;
  position: relative;
  width: 290px;
  /*  TODO: fix mobile safari box-shadow*/
  /*  -webkit-mask-image: -webkit-radial-gradient(white, black);*/
}

.bread-bottom {
  background: #fb9354;
  border-radius: 5px 5px 50px 50px;
  border: 10px solid #373737;
  box-shadow: inset -45px 0 #EA5B42;
  height: 57px;
  margin: 0 auto;
  max-width: 90%;
  overflow: hidden;
  width: 290px;
}

.seed {
  background-color: #373737;
  border-radius: 100%;
  height: 15px;
  left: 14%;
  position: absolute;
  top: 30%;
  width: 15px;
}

.seed:nth-child(2) {
  left: 45%;
  top: 10%;
}

.seed:nth-child(3) {
  left: 10%;
  top: 70%;
}

.seed:nth-child(4) {
  left: 27%;
  top: 52%;
}

.seed:nth-child(5) {
  left: 70%;
  top: 17%;
}

.seed:nth-child(6) {
  left: 45%;
  top: 80%;
}

.seed:nth-child(7) {
  left: 82%;
  top: 65%;
}

.seed:nth-child(8) {
  left: 60%;
  top: 59%;
}

.salad {
  background: #41B24C;
  border-radius: 20px;
  border: 7px solid #373737;
  box-shadow: inset -70px 0 #399943;
  height: 27px;
  margin: 0 auto;
  max-width: 90%;
  width: 320px;
}

.bacon {
  background: linear-gradient(#bf3813, #c45e38);
  border-radius: 13px;
  border: 7px solid #373737;
  box-shadow: inset -48px 0 #ad3615;
  height: 23px;
  margin: 0 auto;
  max-width: 90%;
  position: relative;
  width: 290px;
}

.cheese {
  background: #fcd816;
  border-radius: 20px;
  border: 7px solid #373737;
  box-shadow: inset -57px 0 #d1b311;
  height: 27px;
  margin: 0 auto;
  max-width: 90%;
  width: 310px;
}

.meat {
  background: #852505;
  border-radius: 30px;
  border: 7px solid #373737;
  box-shadow: inset -47px 0 #722207;
  height: 36px;
  margin: 0 auto;
  max-width: 90%;
  width: 290px;
}

.bacon:before {
  background-color: #eee;
  box-shadow: inset -48px 0 #ccc;
  content: '';
  height: 15%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

@media (min-width: 501px) {
  .bread-top {
    width: 320px;
  }

  .bread-bottom {
    width: 320px;
  }

  .salad {
    width: 370px;
  }

  .bacon {
    width: 320px;
  }

  .cheese {
    width: 350px
  }

  .meat {
    width: 320px;
  }

}
