.input {
  padding: 10px;
  width: 100%;
}

.input-label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.inputElement {
  background-color: #fff;
  border-radius: 7px;
  border: 0;
  display: block;
  font: inherit;
  outline: none;
  padding: 6px 10px;
  transition: all .25s ease;
  width: 100%;
}

.inputElement:focus {
  background-color: #fff6a8;
  outline: none;
}

.invalid {
  box-shadow: 0 0 10px 1px #df3132;
}
