.order-complete {
  flex-basis: 50%;
}

.order-complete-card {
  background-color: #ffb142;
  padding: 10px;
  text-align: center;
}

.done-title {
  font-family: "Graduate", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

.done-text {
  font-size: 25px;
  font-weight: 500;
}
