.order-complete {
  flex-basis: 40%;
  max-width: 500px;
}

.order-complete .card {
  border-radius: 20px;
  text-align: center;
}

.done-title {
  font-family: "Graduate", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

.done-text {
  font-size: 25px;
  font-weight: 500;
}
